pandas
torch>=1.10.1
torchvision
tensorboard
scikit-learn>=0.24.0
numpy
scipy>=1.7
lockfile
imgaug>=0.4.0
ConfigSpace>=1.2.1
pynisher>=0.6.3
smac>=1.2,<2.0.0
dask
distributed>=2.2.0
catboost
lightgbm
flaky
tabulate
pyrfr @ git+https://github.com/antmicro/random-forest-run.git@sdist
